name: workflow
#on: [workflow_dispatch,push]
on: [push]
jobs: 
  first_job:
     runs-on: self-hosted
     steps:
        - name: Get code
          uses: actions/checkout@v3
        - name: install nodejs
          uses: actions/setup-node@v3
          with: 
            node-version: 18
        - name: install dependency
          run: npm ci
        - name: Run test
          run: npm test
  Deploy:
     needs: first_job
     runs-on: self-hosted
     steps: 
         - name: Get code
           uses: actions/checkout@v3
         - name: install nodejs
           uses: actions/setup-node@v3
           with: 
             node-version: 18
         - name: install dependency
           run: npm ci
         - name: Run test
           run: npm test
         - name: Build project
           run: npm run build
         - name: deploy
           run: echo "deploying"

